.landing-wrapper{
    background-color: #253957;
    background-image: url('../../img/landingBg.png');
    background-size: cover;
    background-repeat: repeat;
    min-height: 100vh;
}

.landing__main{
    text-align: center;
    padding-top: 20vh;
    margin-bottom: 30vh;
}

.landing__recomendations{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.resumes-landing-list-el{
    width: 48%;
    margin-bottom: 30px;
}

.resumes-landing-list-el .resume-main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.resumes-landing-list-el .resume-main .resume__main-info{
    flex:1
}

.main-header{
    margin: 0 auto;
    width: 70%;

}

.resumes-landing-list-el .resume-main .resume__main-info {
    width: 100%;
}
/* .nav{
    position: fixed;
    top: 0;
} */

/* Smartphones */
@media (max-width : 768px) {
    
}

/* Tablets */
@media (max-width : 1024px) {
    .resumes-landing-list-el{
        width: 100%;
        margin-bottom: 30px;
    }
}

/* Large screens */
@media (min-width : 1824px) {
}
