/*    Placeholder      */

.main-placeholder{
    background-color: #EFF5FF;
    padding: 20px;
    min-width: 660px;
}

.main-placeholder__info{
    background-color: #fff;
}

.main-placeholder__personal{
    position: relative;
    height: 160px;
    display: flex;
    align-items: center;
    background-image: url('../../../img/personal-background.png');
    background-size: cover;
}

.main-placeholder__personal__avatar{
    width: 120px;
    height: 120px;
    margin-left: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.main-placeholder__info{
    padding: 20px;
    position: relative;
    padding-bottom: 50px;
}

.info__common-info__gender{
    display: inline-block;
    height: 22px;
    width: 100px;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position:right;
    margin-left: 20px;
}

.info__common-info__gender.female{
    background-image: url('../../../img/female.svg');
}

.info__common-info__gender.male{
  background-image: url('../../../img/male.svg');
}

.info__common-info__gender.male::after{
  content: 'Мужчина';
}

.info__common-info__gender.female::after{
  content: 'Женщина';
}
/*    Placeholder-end      */

.profile-redact{
    position: absolute;
    z-index: 1;
    top: 0;

    visibility: hidden;

    width: 100%;
    height: 100%;

    transition: .5s;

    opacity: 0;
}

.profile-redact.active{
    visibility: visible;

    transition: .5s;

    opacity: 1;
}

.profile-redact__popup-wrapper{
    display: flex;

    position: relative;

    width: 100%;
    margin-top: 30px;
    padding: 20px;

    border-radius: 10px;
    background: white;
}

.profile-redact__close-popup-btn{
    font-size: 30px;
    line-height: 30px;

    position: absolute;
    z-index: 1;
    top: 0;
    right: 20px;

    height: 30px;
}

.profile-redact__form{
    width: 400px;
    margin-left: 80px;
}

.textarea-field{
    margin: 30px 0;

}

.popup__textarea-input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    width: 100%;
    resize: vertical;
}

/* RadioBox */
.gender-radio-box{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gender-input {
    display: none;
  }
.gender-input +  div {
    width: 280px;
    margin-top: 10px;
  }
  .gender-input + div label {
    display: block;
    padding: 20px 10px;
    text-align: center;
    transition: all 0.15s ease-in-out;
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    width: 48%;
    cursor: pointer;
  }
  .gender-input + div label:first-child {
    float: left;
    box-shadow: inset 0 0 0 4px #1597ff, 0 15px 15px -10px rgba(0, 125, 225, 0.375);
  }
  .gender-input + div label:last-child {
    float: right;
  }
  .gender-input#gender-male:checked + div label:first-child {
    box-shadow: inset 0 0 0 4px #1597ff, 0 15px 15px -10px rgba(0, 125, 225, 0.375);
  }
  .gender-input#gender-male:checked + div label:last-child {
    box-shadow: inset 0 0 0 0px #1597ff, 0 10px 15px -20px rgba(21, 151, 255, 0);
  }
  .gender-input#gender-female:checked + div label:first-child {
    box-shadow: inset 0 0 0 0px #1597ff, 0 10px 15px -20px rgba(21, 151, 255, 0);
  }
  .gender-input#gender-female:checked + div label:last-child {
    box-shadow: inset 0 0 0 4px #1597ff, 0 15px 15px -10px rgba(0, 125, 225, 0.375);
  }
