/*    Placeholder      */

.main-placeholder{
    min-width: 640px;
    max-width: 640px;
    padding: 20px;

    background-color: #eff5ff;
}

.main-placeholder__info{
    background-color: #fff;
}

.main-placeholder__personal{
    position: relative;

    display: flex;
    align-items: center;

    height: 160px;

    background-image: url('../../../img/personal-background.png');
    background-size: cover;
}

.main-placeholder__personal__avatar{
    width: 120px;
    height: 120px;
    margin-left: 50px;

    border-radius: 50%;

    object-fit: cover;
}

.main-placeholder__info{
    position: relative;

    padding: 20px;
    padding-bottom: 50px;
}

/*    Placeholder-end      */

.profile-redact{
    position: absolute;
    z-index: 1;
    top: 0;

    visibility: hidden;

    width: 100%;
    height: 100%;

    transition: .5s;

    opacity: 0;
}

.profile-redact.active{
    visibility: visible;

    transition: .5s;

    opacity: 1;
}

.profile-redact__popup-wrapper{
    position: relative;

    display: flex;

    width: 100%;
    margin-top: 30px;
    padding: 20px;

    border-radius: 10px;
    background: white;
}

.profile-redact__close-popup-btn{
    font-size: 30px;
    line-height: 30px;

    position: absolute;
    z-index: 1;
    top: 0;
    right: 20px;

    height: 30px;
}

.profile-redact__form{
    width: 400px;
    margin-left: 80px;
}

.textarea-field{
    margin: 30px 0;
}

.popup__textarea-input{
    width: 100%;
    min-height: 120px;
    max-height: 240px;
    padding: 10px;

    resize: vertical;

    border: 1px solid #000;
    border-radius: 10px;
}

/* RadioBox */
.gender-radio-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.gender-input{
    display: none;
}
.gender-input + div{
    width: 280px;
    margin-top: 10px;
}
.gender-input + div label{
    display: block;

    box-sizing: border-box;
    width: 48%;
    padding: 20px 10px;

    cursor: pointer;
    transition: all .15s ease-in-out;
    text-align: center;

    border-radius: 10px;
    background: #fff;
}
.gender-input + div label:first-child{
    float: left;
}
.gender-input + div label:last-child{
    float: right;
}
.gender-input#gender-male:checked + input + div label:first-child{
    box-shadow: inset 0 0 0 4px #1597ff, 0 15px 15px -10px rgba(0, 125, 225, .375);
}
.gender-input#gender-male:checked + input + div label:last-child{
    box-shadow: inset 0 0 0 0 #1597ff, 0 10px 15px -20px rgba(21, 151, 255, 0);
}
.gender-input#gender-female:checked + div label:first-child{
    box-shadow: inset 0 0 0 0 #1597ff, 0 10px 15px -20px rgba(21, 151, 255, 0);
}
.gender-input#gender-female:checked + div label:last-child{
    box-shadow: inset 0 0 0 4px #1597ff, 0 15px 15px -10px rgba(0, 125, 225, .375);
}

/* radio-box end */

.list-input-field{
    position: relative;
}

.list-input-field__el-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 10px;
}

.el-block__delete-el{
    font-size: 30px;
    line-height: 1;
    color: #ff0000;
}


/* .popup__text-input:not(:focus)::placeholder{
    opacity: 0;
} */
