.resumes-list-el{
    position: relative;

    margin-top: 20px;

    background-color: #fff;
}

.resume__main-info{
    min-height: 100px;
    padding: 20px;
    background-color: #fff;
}

.resume-main.muted{
    z-index: 0;

    display: none;
    visibility: hidden;

    opacity: 0;
}

.resume__header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100px;
    padding: 20px;

    background-color: #1e1f26;
}

.resume__header-top,
.resume__header-bottom{
    display: flex;
    justify-content: space-between;
}

.resume__header__name{
    width: 76%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resume__header__salary{
    text-align: right;
    width: 24%;
}

.resume__header__grade{
    width: 70%;
}


.resume__header-color{
    display: flex;
}

.resume__header-color-el{
    margin-left: 10px;
    width: 30px;
    border: 3px solid #fff;
    border-radius: 50%;
    height: 30px;
    transition: .3s;
    cursor: pointer;
}

.resume__header-color-el.selected,
.resume__header-color-el:hover{
    border: 3px solid rgb(255, 207, 50);
    transition: .3s;
}


.resume-redact-btn,
.resume-delete-btn,
.resume-close-btn{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 110px;
    right: 40px;

    width: 55px;
    height: 55px;

    transition: .5s;

    border: 1px solid #000;
    border-radius: 50%;
    background: #000;
}

.resume-delete-btn{
    right: 120px;
}

.resume-delete-btn img{
    width: 35px;
}

.resume-redact-btn img,
.resume-close-btn img{
    width: 30px;
}

.resume-redact-btn:hover,
.resume-delete-btn:hover,
.resume-close-btn:hover{
    transition: .5s;

    border: 1px solid #fff;

    filter: invert(1);
}

.resume-close-btn,
.resume-delete-btn{
    z-index: 1;
}

.resume__industry{
    width: 85%;
    color: #254e8f;
}

.resume-main .resume__main-info{
    width: 85%;
}

.resume-main.muted .resume__main-info{
    width: 100%;
}

.resume__tags-list,
.resume__work-type-list,
.about__points-list{
    display: flex;
    flex-wrap: wrap;
}

.about__points-list{
    padding: 5px 10px;
    margin: 10px 20px;
    border: 1px solid #000;
}

.resume__address{
    margin: 30px 0;
}

.resume__address__data-block{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.resume__experience{
    width: 80%;
    padding: 15px 10px;
}

.resume__experience__header{
    display: flex;
    justify-content: space-between;
}

.resume__about{
    margin: 10px 0;
}


.about__body-inputs.active{
    display: block;
}

.vacancy__about__add-block{
    display: flex;
    align-items: center;
}

.body-block{
    padding: 10px;
    border: 2px solid #000;
    margin: 15px 0;
}

.body-block-cut{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body-add-btn,
.body-delete-btn,
.body-redact-btn{
    display: flex;
    align-items: center;

    justify-content: center;
    margin-left: 10px;

    width: 35px;
    height: 35px;

    transition: .5s;

    background:#fff;
    border: 1px solid #000;
    border-radius: 50%;
}

.body-delete-btn,
.body-redact-btn{
    background:#000;
    border: 1px solid #000;
}

.body-add-btn img,
.body-delete-btn img,
.body-redact-btn img{
    width: 15px;
}

.body-add-btn:hover,
.body-delete-btn:hover,
.body-redact-btn:hover{
    transition: .5s;
    border: 1px solid #fff;
    
    filter: invert(1);
}

.body-controls{
    display: flex;
}

.about__body-inputs__header{
    display: flex;
    justify-content: space-between ;
}

.resume__portfolio{
    display: flex;

    margin: 10px 0;
}

.resume__portfolio-el{
    position: relative;

    width: 100px;
    height: 100px;
    margin-right: 10px;

    background: #000;
}


.resume__tags-list-el{
    font-weight: 600;

    margin-right: 5px;
    padding: 3px 6px;

    border: 2px solid #254e8f;
    border-radius: 10px;
}

.resume-add{
    margin-top: 20px;

    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-add-btn{

    width: 80px;
    height: 80px;
    margin-top: 10px;

    transition: .5s;

    border: 1px solid #000;
    border-radius: 50%;
    background: #fff;
}

.resume-add-btn img{
    width: 35px;
}

.resume-add-btn:hover{
    transition: .5s;

    border: 1px solid #fff;

    filter: invert(1);
}

.resumes-block{
    position: relative;

    display: flex;
    flex-direction: column;

    margin-top: 50px;
}

.resume-redact-block{
    position: relative;
    z-index: 0;

    visibility: hidden;

    width: 700px;
    height: 100%;

    opacity: 0;
    background-color: #fff;
}

.resume-redact-block.active{
    z-index: 1;

    visibility: visible;

    opacity: 1;
}

.resume__header__salary-input{
    text-align: right;
    width: 110px;
}

.resume__header__salary-input::-webkit-outer-spin-button,
.resume__header__salary-input::-webkit-inner-spin-button{
    margin: 0;

    -webkit-appearance: none;
}

.resume__about-input{
    width: 100%;
    min-height: 50px;
    max-height: 100px;

    resize: vertical;
}
