.container{
    max-width: 1440px;
    margin: 0 auto;
}

.small-container{
    max-width: 1140px;
    margin: 0 auto;
}

.highlighted-btn{
    background-color: #253957;
    border: 5px #FCDE26 solid;
    color: #FCDE26;
    padding: 3px 25px;
    border-radius: 20px;
    transition: .5s;
}

input[type='submit']{
    cursor: pointer;
}

.highlighted-btn:hover{
    color: #253957;
    background-color: #FCDE26;
}

.link-anim{
    padding: 8px 15px;
    border-radius: 20px;
    transition: .5s;
}

.link-anim:hover{
    border-color: #fff;
    background-color: #fff;
    color: #000;
    transition: .5s;
}

.sup-btn{
    border: 2px solid #000;
    border-radius: 20px;
    padding: 3px 10px;
    transition: .3s;
}

.sup-btn:hover{
    background-color: #fff;
    border: 2px solid #fff;

    transition: .3s;
    filter:invert(1);
}

.icon-anim{
    height: 50px;
    transition: .5s;
    border-radius: 30%;
}

.icon-anim:hover{
    background-color: #000;
    border-radius: 50%;
    filter: invert(1);
    transition: .5s;
}

.rounded{
    border-radius: 16px;
}

.top-rounded{
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}


.f-pre{
    font-size: 1.1rem;
}

.f-medium{
    font-size: 1.25rem;
}

.f-large{
    font-size: 1.7rem;
}

.headed{
    color: #47485a;
    font-size: 1.5rem;
}

.highlighted{
    font-weight: 600;
    font-size: 1.3rem;
}

.fixed{
    position: fixed;
}

.sup{
    font-size: 0.9rem;
    color: #D2D2D2;
}

.white{
    color: #fff;
}

.input-list{
    position: relative;
    display: flex;
    align-items: left;
    flex-wrap: wrap;
}

.input-list__input-block{
    flex-grow: 1;
    margin: 5px 0 10px 0;
    padding: 7px 10px;
}

.list-input-field__el-block{
    margin-left: 5px;
}