.more-filters-btn{
    height: 45px;
    width: 45px;
    background-size: contain;
    background-image: url('../../../img/filter.svg');
    background-color: transparent;
    transition: .5s;
    border-radius: 10px;
    margin-left: 30px;
}

.more-filters-btn:hover{
    background-color: #fff;
    filter: invert(1);
    transition: .5s;
}

.search-form{
    height: 100%;
    display: flex;
    align-items: center;
}

.search-form__input{
    height: 45px;
    border-radius: 10px;
    width: 20%;
    min-width: 200px;
    background-color: #fff;
    padding: 0 30px 0 20px;
}

.search-form__submit{
    padding: 10px 20px;
    cursor: pointer;
    border: 3px solid #000;
    transition: .5s;
    border-radius: 10px;
    background-image: url('../../../img/right-arrow.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-right: 40px;
    margin-left: 10px;
}

.search-form__submit:hover{
    background-color: #fff;
    filter:invert(1);
    border: 3px solid #fff;
    transition: .5s;
}

.search-form__dropdown-menu{
    height: 45px;
    border: none;
    padding: 0 10px;
    border-radius: 10px;
    margin-left: -20px;
    box-shadow: none;
}
